html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Microsoft YaHei';
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

.js body {
	overflow: hidden;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #555;
}

/* Content Flip Style */
.bb-bookblock {
    width: 400px;
    height: 300px;
    position: relative;
    background: #fff;
    z-index: 100;
}

.bb-page {
    width: 50%;
    height: 100%;
    left: 50%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.bb-page > div,
.bb-outer,
.bb-content {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bb-content {
    background: #fff;
}

.bb-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.bb-overlay, .bb-outer {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-page > div {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.bb-outer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.bb-overlay,
.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
}

.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.js .bb-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */


/* Custom Style */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}

.jspVerticalBar {
    position: absolute;
    top: 0px;
    right: 1%;
    width: 9px;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
}

.jspContainer:hover .jspVerticalBar {
    opacity: 1;
}

.jspCap {
    display: block;
    background: #fff;
}

.jspVerticalBar .jspCap {
    height: 40px;
}

.jspTrack {
    background: rgba(242,242,242,0.5);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1), inset 1px 0 4px rgba(0,0,0,0.05);
    border-radius: 10px;
    position: relative;
}

.jspDrag {
    background: #574192;
    position: relative;
    box-shadow: inset -1px 0 8px rgba(0,0,0,0.05);
    top: 0;
    left: 0;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.jspDrag:hover{
    background: #877192;
}

.jspCorner {
    background: #fff;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #574192;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}
.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	padding: 0 20px;
	cursor: pointer;
	background: #574192;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	background: #433371;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.page-arrow,
.menu-button {
	position: absolute;
	width: 32px;
	height: 30px;
	background: #574192;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
    font-size: 22px;
    display: block;
}

.tb-btn{
    top: 2px;
    left: 0;
}
.page-arrow{
    opacity: 0.5;
    margin-top:-50px;
    top:50%;
}
.page-arrow:hover{
    opacity: 1;
}
.menu-button:hover {
	background: #000;
}
.bb-custom-wrapper .keyboard{
    left:60px;
    top:20px;
    z-index: 500;
}
.bb-custom-wrapper .keyboard img{
    border:none;
    margin:0;
    padding:0;
    padding-bottom:10px;
}
#bb-nav-next{
    right:65px;
}
#bb-nav-prev{
    left:22px;
}

#facebox .content{
    position: static;
    width:500px;
}
#facebox h4 {
    margin: 0 0 10px -10px;
    padding: 0 10px 10px 10px;
    font-size: 16px;
    border-bottom: 1px solid #DDD !important;
}
dl.keyboard-mappings dt {
    display: inline-block;
    margin: 0;
    padding: 3px 6px;
    min-width: 10px;
    text-align: center;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    background: #333;
    color: #EEE;
    border-radius: 2px;
    text-shadow: 1px 1px 0 black;
}

dl.keyboard-mappings dd {
    display: inline;
    margin: 0 0 0 5px;
    color: #666;
}

.tb-btn{
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.tb-btn:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}



.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h2 {
	font-weight: bold;
	font-size: 2em;
	color: #333;
	margin-bottom: 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
    padding-bottom:10px;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
    line-height: 32px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/


/* Body and structure
-------------------------------------------------- */
body {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Microsoft YaHei' !important;
}
h5{
    margin:10px 0;
}
h3{
    margin-bottom:10px;
}
ol li{
    line-height: 24px;
}
.syntaxhighlighter{
    margin:0 !important;
    margin-bottom:10px !important;
}
body p{
    line-height: 24px;
}
body img{
    border: 2px solid #317EAC;
    margin: 10px 0;
    padding:1px;
}
.index-body  img{
    border:none;
    padding:0;
}
.table-bordered th, .table-bordered td{
    line-height: 24px;
}
.table-bordered td .alert{
    margin-top:10px;
}
.logo-wrapper{
    text-align: right;
}
.logo-wrapper  img{
    border-right:2px solid #333;
}
.home-header{
    width:800px;
    margin:30px auto;
}
.home-header h1{
    margin-top:10px;
}
.index-body  #header h1{
    font-size: 100px;
}
.container{
    margin-bottom:40px;
}
header{
    margin-top:40px;
}
/* Space out sub-sections more
-------------------------------------------------- */
section {
    padding-top: 30px;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
    position: relative;
}
.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}
.jumbotron .btn-large {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.jumbotron .btn-large small {
    font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
    padding-top: 36px;
    margin-bottom: 72px;
}
.masthead h1,
.masthead p {
    text-align: center;
}
.masthead h1 {
    margin-bottom: 18px;
}
.masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
    padding-bottom: 0;
    margin-bottom: 9px;
}
.subhead h1 {
    font-size: 54px;
}

/* Subnav */
.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    margin: 0;
    padding-top:    11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
    border-right: 0;
}
.subnav .dropdown-menu {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
        border-color: #d5d5d5;
        border-width: 0 0 1px; /* drop the border on the fixed edges */
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
    }
    .subnav-fixed .nav {
        width: 938px;
        margin: 0 auto;
        padding: 0 1px;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}


/* Quick links
-------------------------------------------------- */
.bs-links {
    margin: 36px 0;
}
.quick-links {
    min-height: 30px;
    margin: 0;
    padding: 5px 20px;
    list-style: none;
    text-align: center;
    overflow: hidden;
}
.quick-links:first-child {
    min-height: 0;
}
.quick-links li {
    display: inline;
    margin: 0 5px;
    color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
    position: relative;
    top: 5px;
}


/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
    margin-bottom: 9px;
}
.marketing h1 {
    margin: 36px 0 27px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.marketing h2,
.marketing h3 {
    font-weight: 300;
}
.marketing h2 {
    font-size: 22px;
}
.marketing p {
    margin-right: 10px;
}
.marketing .bs-icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: .8;
}
.marketing .small-bs-icon {
    float: left;
    margin: 4px 5px 0 0;
}



/* Footer
-------------------------------------------------- */
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}



/* Special grid styles
-------------------------------------------------- */
.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="span"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}
.show-grid:hover [class*="span"] {
    background: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
    background-color: #ccc;
}


/* Render mini layout previews
-------------------------------------------------- */
.mini-layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout {
    height: 240px;
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
    height: 240px;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 20%;
    height: 240px;
}
.mini-layout.fluid .mini-layout-body {
    width: 77.5%;
    margin-left: 2.5%;
}


/* Popover docs
-------------------------------------------------- */
.popover-well {
    min-height: 160px;
}
.popover-well .popover {
    display: block;
}
.popover-well .popover-wrapper {
    width: 50%;
    height: 160px;
    float: left;
    margin-left: 55px;
    position: relative;
}
.popover-well .popover-menu-wrapper {
    height: 80px;
}
.large-bird {
    margin: 5px 0 0 310px;
    opacity: .1;
}


/* Download page
-------------------------------------------------- */
.download .page-header {
    margin-top: 36px;
}
.page-header .toggle-all {
    margin-top: 5px;
}

/* Space out h3s when following a section */
.download h3 {
    margin-bottom: 5px;
}
.download-builder input + h3,
.download-builder .checkbox + h3 {
    margin-top: 9px;
}

/* Fields for variables */
.download-builder input[type=text] {
    margin-bottom: 9px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    color: #d14;
}
.download-builder input[type=text]:focus {
    background-color: #fff;
}

/* Custom, larger checkbox labels */
.download .checkbox {
    padding: 6px 10px 6px 25px;
    color: #555;
    background-color: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.download .checkbox:hover {
    color: #333;
    background-color: #f5f5f5;
}
.download .checkbox small {
    font-size: 12px;
    color: #777;
}

/* Variables section */
#variables label {
    margin-bottom: 0;
}

/* Giant download button */
.download-btn {
    margin: 36px 0 108px;
}
#download p,
#download h4 {
    max-width: 50%;
    margin: 0 auto;
    color: #999;
    text-align: center;
}
#download h4 {
    margin-bottom: 0;
}
#download p {
    margin-bottom: 18px;
}
.download-btn .btn {
    display: block;
    width: auto;
    padding: 19px 24px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}



/* Color swatches on LESS docs page
-------------------------------------------------- */
/* Sets the width of the td */
.swatch-col {
    width: 30px;
}
/* Le swatch */
.swatch {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: -6px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/* For white swatches, give a border */
.swatch-bordered {
    width: 28px;
    height: 18px;
    border: 1px solid #eee;
}


/* Misc
-------------------------------------------------- */

img {
    max-width: 100%;
}

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
    margin-top: 5px;
}

/* Example sites showcase */
.example-sites img {
    max-width: 100%;
    margin: 0 auto;
}
.marketing-byline {
    margin: -18px 0 27px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #999;
    text-align: center;
}

.scrollspy-example {
    height: 200px;
    overflow: auto;
    position: relative;
}

/* Remove bottom margin on example forms in wells */
form.well {
    padding: 14px;
}

/* Tighten up spacing */
.well hr {
    margin: 18px 0;
}

/* Fake the :focus state to demo it */
.focused {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
    display: block;
    margin-bottom: 9px;
}

/* Icons
------------------------- */
.the-icons {
    margin-left: 0;
    list-style: none;
}
.the-icons i:hover {
    background-color: rgba(255,0,0,.25);
}

/* Eaxmples page
------------------------- */
.bootstrap-examples .thumbnail {
    margin-bottom: 9px;
    background-color: #fff;
}

/* Responsive table
------------------------- */
.responsive-utilities th small {
    display: block;
    font-weight: normal;
    color: #999;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    color: #468847;
    background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
    margin-top: 5px;
    margin-left: 0;
    list-style: none;
    overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
    position: relative;
    float: left;
    width: 25%;
    height: 43px;
    font-size: 14px;
    font-weight: bold;
    line-height: 43px;
    color: #999;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    position: absolute;
    top:    -1px;
    left:   -1px;
    right:  -1px;
    bottom: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.responsive-utilities-test span {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

    /* Reduce padding above jumbotron */
    body {
        padding-top: 70px;
    }

    /* Change up some type stuff */
    h2 {
        margin-top: 27px;
    }
    h2 small {
        display: block;
        line-height: 18px;
    }
    h3 {
        margin-top: 18px;
    }

    /* Adjust the jumbotron */
    .jumbotron h1,
    .jumbotron p {
        text-align: center;
        margin-right: 0;
    }
    .jumbotron h1 {
        font-size: 45px;
        margin-right: 0;
    }
    .jumbotron p {
        margin-right: 0;
        margin-left: 0;
        font-size: 18px;
        line-height: 24px;
    }
    .jumbotron .btn {
        display: block;
        font-size: 18px;
        padding: 10px 14px;
        margin: 0 auto 10px;
    }
    /* Masthead (home page jumbotron) */
    .masthead {
        padding-top: 0;
    }

    /* Don't space out quick links so much */
    .quick-links {
        margin: 40px 0 0;
    }
    /* hide the bullets on mobile since our horizontal space is limited */
    .quick-links .divider {
        display: none;
    }

    /* center example sites */
    .example-sites {
        margin-left: 0;
    }
    .example-sites > li {
        float: none;
        display: block;
        max-width: 280px;
        margin: 0 auto 18px;
        text-align: center;
    }
    .example-sites .thumbnail > img {
        max-width: 270px;
    }

    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }

    /* Modal example */
    .modal-example .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

}


@media (max-width: 768px) {

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Jumbotron buttons */
    .jumbotron .btn {
        margin-bottom: 10px;
    }

    /* Subnav */
    .subnav {
        position: static;
        top: auto;
        z-index: auto;
        width: auto;
        height: auto;
        background: #fff; /* whole background property since we use a background-image for gradient */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .subnav .nav > li {
        float: none;
    }
    .subnav .nav > li > a {
        border: 0;
    }
    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    /* Popovers */
    .large-bird {
        display: none;
    }
    .popover-well .popover-wrapper {
        margin-left: 0;
    }

    /* Space out the show-grid examples */
    .show-grid [class*="span"] {
        margin-bottom: 5px;
    }

    /* Unfloat the back to top link in footer */
    .footer .pull-right {
        float: none;
    }
    .footer p {
        margin-bottom: 9px;
    }

}


@media (min-width: 480px) and (max-width: 768px) {

    /* Scale down the jumbotron content */
    .jumbotron h1 {
        font-size: 54px;
    }
    .jumbotron p {
        margin-right: 0;
        margin-left: 0;
    }

}


@media (min-width: 768px) and (max-width: 980px) {

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Scale down the jumbotron content */
    .jumbotron h1 {
        font-size: 72px;
    }

}


@media (max-width: 980px) {

    /* Unfloat brand */
    .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Inline-block quick links for more spacing */
    .quick-links li {
        display: inline-block;
        margin: 5px;
    }

}

ul {
    margin-left:60px;
}
ul li {
    line-height: 32px;
}

.thumbnail h4 {
    font-size: 18px;
    margin:10px 0;
}

.thumbnail .btn {
    margin-right: 6px;
}

.thumbnail img {
    height: 120px;
}

.thumbnail .dec {
    height: 60px;
    line-height: 18px;
}

#header .dec{
    margin-top:30px;
}
.subnav .nav li a{
    font-size: 14px;
    font-weight: normal;
}
.authors .span2{
    width:44px;
}
.authors .span2 span{
    display: block;
    text-align: center;
    margin-top:-4px;
}
.authors .span2 img{
    border: 1px solid #CCC;
    padding: 1px;
}
h4{
    margin:10px 0;
}
/*------反馈入口 START------*/
.feedback {
    background-repeat: repeat-y;
    background-color: #fff;
    width: 25px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 90000;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    _position: absolute;
}

.feedback:hover {
    right: 2px;
}

.feedback span {
    display: block;
}

.feedback span a {
    display: block;
    word-wrap: break-word;
    word-break: normal;
    width: 13px;
    text-align: center;
    color: #666;
    padding: 8px 6px 10px;
    line-height: 1.1em;
}

.feedback span a:hover {
    color: #f50;
    text-decoration: none;
}

.feedback span s {
    width: 0;
    height: 0;
    border: 3px solid #19377f;
    display: block;
    position: relative;
    top: -1px;
    right: -1px;
    border-color: #fff #19377f #19377f #fff;
    margin: -6px 0 0 19px;
    overflow: hidden;
    _margin-left: 17px;
    zoom: 1;
}

/*------反馈入口 END------*/
/*------事件面板 START------*/

.event-panel {
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 600px;
    height: 300px;
    overflow-y: scroll;
    font-size: 12px;
}

.event-panel p {
    padding:5px 10px;
}
.event-panel p:nth-child(2n+1){
    background-color: #E2F1FC;
}
/*------事件面板 END------*/

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

    /* Update subnav container */
    .subnav-fixed .nav {
        width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
    }

}
/* Sidenav for Docs
-------------------------------------------------- */

/* prevent column from collapsing when affixing */
.span3 {
    min-height: 1px;
}

.bs-docs-sidenav {
    width: 258px;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    *width: 190px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    font-size:14px;
    font-weight: normal;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(http://img03.taobaocdn.com/tps/i3/T1CuPIXm8gXXcIVv2D-469-159.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}
[class^="icon-"],[class*=" icon-"]{
    background-image: url(http://img03.taobaocdn.com/tps/i3/T1CuPIXm8gXXcIVv2D-469-159.png);
}
.bs-docs-sidebar{
    margin-top:20px;
}

/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
    content: "Demo";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
    margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
    margin-bottom: 5px;
}
.bs-docs-example .pagination {
    margin-top: 0;
}

code{
    margin:0 5px;
}
h4{
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin:20px 0;
}
.alert{
    line-height: 24px;
    margin-top:20px;
}
.demo-item div{
    padding:10px;
}
.demo-item :hover{
    background-color: whiteSmoke;
    text-decoration: none !important;
}
.demo-item{
    padding-left:10px;
    display: block;
    margin-top:10px;
}
.demo-item img{
    border:none;
}
.btn{
    margin-right:10px;
}
h3{
    margin:20px 0;
}
.affix{
    position: fixed;
    top:60px !important;
}
.menu-toc{
    margin:0;
}
.menu-toc li a:hover{
    text-decoration: none;
}

.bb-item a.btn-download, .bb-item a.btn-view-demo{
    text-indent: -3000px;
    display: block;
    width: 160px;
    height: 43px;
    background: url(http://www.36ria.com/wp-content/themes/36ria3.0/images/btn.png) 0 0 no-repeat;
}
.bb-item a.btn-download:hover{
    background-position: 0 -57px;
}

.right-btns{
    position: absolute;
    right:10px;
    top:10px;
}

.content table {
    margin-top: 16px;
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom:none;
}

.content table img {
    border: 0 !important;
    padding: 0 !important;
}

.content table td {
    line-height: 24px;
    padding: 6px 12px;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    text-align: left;
    vertical-align: top;
}

.content table td a {
    color: #663399 !important;
}

.content table td a:hover {
    color: #333 !important;
}

.content table td strong {
    color: #333;
}
.single-post .content table td p {
    text-indent: 0;
}
.content table thead tr td strong {
    font-size: 14px;
    font-weight: bold;
}
.content table tbody tr {
    background-color: #F9F9F9;
}
.content table tbody tr:nth-child(2n) {
    background-color: white;
}
